.App {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
form {
  margin: 0 auto;
  margin-top: 30px;
}
.registration {
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;

  margin-top: 10px;
}
.buttonBlock {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form_control {
  margin-bottom: 20px;
}
.error {
  color: red;
}
